| Sustainability Dimension | Thematic Area | Domain |
|------|---------------------------|---------------------------|
{% for c in domains -%}
| [{{ enum_dict['SustainabilityDimension'][c['key_area']] }}](../SustainabilityDimension) | [{{ enum_dict['ThematicArea'][c['thematic_area']] }}](../{{ c['key_area'] }}ThematicArea) | [{{ enum_dict['Domain'][c['indicator_domain']] }}](../{{ c['key_area'] }}Domain) | 
{% endfor %}
