# {{ element.title | upper }}

{% if element.description %}
{% set element_description_lines = element.description.split('\n') %}
{% for element_description_line in element_description_lines %}
_{{ element_description_line }}_
{% endfor %}
{% endif %}

{% if element.permissible_values -%}
## Possible values

| Id | Title | Description | URI | 
| --- | --- | --- | --- |
{% for pv in element.permissible_values.values() -%}
| {{pv.text}} | {{pv.title | capitalize }} | {{pv.description}} | {{pv.meaning}} |
{% endfor %}
{% else %}
_This is a dynamic enum_
{% endif %}
