# {{ schema.name }}

Model for the indicators on the sustainability performance of food Systems within Europe

## Model components

| Type | Class | Description |
{% for c in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'association' not in schemaview.class_ancestors(c.name) and not schemaview.is_mixin(c.name) -%}
| --- | --- | --- |
| Class | {{gen.link(c)}} | {{c.description}} |
{%- endif -%}
{% endfor %}
{% for np in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'node property' in schemaview.slot_ancestors(np.name) -%}
| Property | {{gen.link(np)}} | {{np.description}} |
{%- endif -%}
{% endfor %}
{% for e in schemaview.all_enums().values()|sort(attribute='name') -%}
| Enum | {{gen.link(e)}} | {{e.description}} |
{% endfor %}

