---
hide:
  - toc
---

# INDICATOR CATEGORIES

| Outcome | Name | Description | Food System Activity Type | Food System Outcome Type |
|-----------|------|-------------|-------------|-------------|
{% for record in categories -%}
  {%- set id = record['id'] -%}
  {%- set name = record['name'] -%}
  {%- set description = record['description'] -%}
  {%- set dimension = enum_dict['SustainabilityDimension'][record['dimension']]['title'] -%}
  {%- set activity_type = enum_dict['FoodSystemActivityType'][record['activity_type']]['title'] if record['activity_type'] else '-' -%}
  {%- set outcome_type = enum_dict['FoodSystemOutcomeType'][record['outcome_type']]['title'] if record['outcome_type'] else '-' -%}
| [{{ dimension }}](../model/SustainabilityDimension) | {{ name }} | {{ description | replace("\n", "") }} | [{{ activity_type }}](../model/FoodSystemActivityType) | [{{ outcome_type }}](../model/FoodSystemOutcomeType)
{% endfor %}
