| Name | Sustainability Dimensions | Thematic Area | Supply chain components |
|------|---------------------------|---------------| ---------------------- |
{% for indicator in indicators -%}
| {{ indicator['name'] }} | [{{indicator['key_area']}}](../SustainabilityDimension) | [{{indicator['thematic_area']}}](../ThematicArea) | [{{', '.join(indicator['supply_chain_component'])}}](../SupplyChainComponentType) |
{% endfor %}
