---
hide:
  - toc
---

# INDICATOR CATEGORIES

| Outcome | Name | Description |
|-----------|------|-------------|
{% for record in categories -%}
  {%- set id = record['id'] -%}
  {%- set name = record['name'] -%}
  {%- set description = record['description'] -%}
  {%- set outcome_type = enum_dict['FoodSystemOutcomeType'][record['outcome_type']]['title'] -%}
| [{{ outcome_type }}](../model/FoodSystemOutcomeType) | {{ name }} | {{ description | replace("\n", "") }} |
{% endfor %}
