---
hide:
  - toc
---

# {{indicator['name']}}

{{ indicator['description'] }}

**Key area**: {{ enum_dict['SustainabilityDimension'][indicator['key_area']] }}

**Thematic area**: {{ enum_dict['ThematicArea'][indicator['thematic_area']] }}

**Domain**: {{ enum_dict['Domain'][indicator['indicator_domain']] }}

**Unit of measurement**: {{ indicator['measurement_unit'] }}
