---
hide:
  - toc
---

| Indicator | Database | Description | Time granularity | URL |
|-----------|----------|-------------|------------------|-----|
{% for datasource in indicator_data_collections -%}
  {%- set database = datasource['in_database'] -%}
  {%- set indicator = indicators_dict[datasource['measures_indicator']]['name'] -%}
  {%- set description = datasource['description'] -%}
  {%- set time_granularity = datasource['time_granularity'] -%}
  {%- set url = datasource['data_link'] -%}
| {{ indicator }} | {{ database }} | {{ description }} | {{ time_granularity }} | [{{url}}]({{url}}) | 
{% endfor %}
