| Name | Description | Category |
|------|---------------------------|---------------------------|
{% for c in criteria -%}
| {{ c.get("name") }} | {{ c.get("description") }} | {{ c.get("category") }} |
{% endfor %}
