---
hide:
  - toc
---

# INDICATOR SCORES

<div id="indicator-scores-heatmap" style="width: 100; height: 900px;"></div>

| Indicator | Category | Criterion | Score | Rationale |
|-----------|----------|-----------|-------|-----------|
{% for score_record in indicator_score_records -%}
| {{ score_record['indicator_name'] }} | {{ score_record['category_name'] }} | {{ score_record['criterion_name'] }} | {{ score_record['score'] }} | {{ score_record['rationale'] }} |
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="../js/indicator_scores_chart.js"></script>
