---
hide:
  - toc
---

# {{indicator['name']}}

{% if indicator['description'] %} 
  {{ indicator['description'] }}
{% else %}
  *Description not available*
{% endif %}

**Definition**: 
{% if indicator['definition'] %} 
  {{ indicator['definition'] }}
{% else %}
  *Not available*
{% endif %}

**Dimension**: {{ enum_dict['SustainabilityDimension'][indicator['dimension']]['title'] }}

**Category**: {{ indicator['has_category'] }}

**Unit(s) of measurement description**:
{% if indicator['measurement_unit_description'] %} 
  {{ indicator['measurement_unit_description'] }}
{% else %}
  *Not available*
{% endif %}

**Unit of measurement**:
{% if indicator['measurement_units'] %}
  {% for mu in indicator['measurement_units'] %}
  - [{{ enum_dict['IndicatorMeasurementUnit'][mu]['title'] }}](../../model/IndicatorMeasurementUnit)
  {% endfor %}
{% else %}
  - *Not specified*
{% endif %}

{% if indicator['eu2025_sdg_indicator_code'] %}
  **EU 2025 SDG Indicator**: {{ indicator['eu2025_sdg_indicator_code'] }}
{%- endif %}

**Supply chain components**:

{% for scp in indicator['supply_chain_component'] %}
- [{{ enum_dict['SupplyChainComponentType'][scp]['title'] }}](../../model/SupplyChainComponentType)
{% endfor %}
