| Name | Description | category |
|------|---------------------------|---------------------------|
{% for c in criterions -%}
| {{ c.get("name") }} | {{ c.get("description") }} | {{ c.get("category") }} |
{% endfor %}
