---
hide:
  - toc
---

# INDICATOR DEFINITIONS

| Id | Name | Sustainability dimension | Outcome type | Activity | Supply Activity | Environment activity | Demand activity | Driving force | Response/Policy | Category | Unit(s) | Supply chain components | {% for key, td in enum_dict['TransitionDomain'].items() %}{{td['title'] | capitalize}} |{% endfor %} SDGs | Sustainability impact |
|----|------|--------------------------|--------------|----------|-----------------|----------------------|-----------------|---------------|-----------------|----------|---------|-------------------------| {% for key, td in enum_dict['TransitionDomain'].items() %}---------------------------- |{% endfor %} -----|-----------------------|
{% for indicator in indicators -%}
  {%- set id = indicator['id'] -%}
  {%- set name = indicator['name'] -%}
  {%- set description = indicator['description'] -%}
  {%- set definition = indicator['definition'] -%}
  {%- set units = indicator['measurement_units'] -%}
  {%- set sustainability_impact = enum_dict['SustainabilityImpactType'][indicator['sustainability_impact']]['title'] -%}
  {%- set sustainability_dimension = enum_dict['SustainabilityDimension'][indicator['sustainability_dimension']]['title'] if indicator['sustainability_dimension'] else '-' -%}
  {%- set driving_force = enum_dict['FoodSystemDrivingForce'][indicator['driving_force']]['title'] if indicator['driving_force'] else '-' -%}
  {%- set response_policy = enum_dict['FoodSystemResponsePolicy'][indicator['response_policy']]['title'] if indicator['response_policy'] else '-' -%}
  {%- set outcome_type = enum_dict['FoodSystemOutcomeType'][indicator['outcome_type']]['title'] if indicator['outcome_type'] else '-' -%}
  {%- set activity_type = enum_dict['FoodSystemActivityType'][indicator['activity_type']]['title'] if indicator['activity_type'] else '-' -%}
  {%- set supply_activity_type = enum_dict['FoodSupplyActivityType'][indicator['supply_activity_type']]['title'] if indicator['supply_activity_type'] else '-' -%}
  {%- set environment_activity_type = enum_dict['FoodEnvironmentActivityType'][indicator['environment_activity_type']]['title'] if indicator['environment_activity_type'] else '-' -%}
  {%- set demand_activity_type = enum_dict['FoodDemandActivityType'][indicator['demand_activity_type']]['title'] if indicator['demand_activity_type'] else '-' -%}
  {%- set category_id = indicator['has_category'] -%}
  {%- set category_name = categories_dict[indicator['has_category']]['name'] -%}
  {%- set sdgs = indicator['related_sdg_targets'] if indicator['related_sdg_targets'] else [] -%}
  {%- set tds = {} -%}
  {%- if id in transition_domain_connections_lookup %}
    {%- for x in transition_domain_connections_lookup[id] %}
        {%- set _ = tds.update({x['transition_domain']: x}) -%}
    {%- endfor %}
  {%- endif %}
  {%- set td_area_1 = tds['Area_1']['score'] if 'Area_1' in tds.keys() -%}
  {%- set td_area_2 = tds['Area_2']['score'] if 'Area_2' in tds.keys() -%}
  {%- set td_area_3 = tds['Area_3']['score'] if 'Area_3' in tds.keys() -%}
  {%- set td_area_4 = tds['Area_4']['score'] if 'Area_4' in tds.keys() -%}
| {{ id }} | [{{name}}](../indicators/{{id}}) | [{{ sustainability_dimension }}](../model/SustainabilityDimension) | [{{ outcome_type }}](../model/FoodSystemOutcomeType) | [{{ activity_type }}](../model/FoodSystemActivityType) | [{{ supply_activity_type }}](../model/FoodSupplyActivityType) | [{{ environment_activity_type }}](../model/FoodEnvironmentActivityType) | [{{ demand_activity_type }}](../model/FoodDemandActivityType) | [{{ driving_force }}](../model/FoodSystemDrivingForce) | [{{ response_policy }}](../model/FoodSystemResponsePolicy) | [{{category_name}}](../indicator_categories) | {% for mu in units %} [{{ enum_dict['IndicatorMeasurementUnit'][mu]['title'] }}](../model/IndicatorMeasurementUnit) {% endfor -%} |
{%- for scp in indicator['supply_chain_component'] %} [{{ enum_dict['SupplyChainComponentType'][scp]['title'] }}](../model/SupplyChainComponentType) {% endfor -%}
| {{td_area_1}} | {{td_area_2}} | {{td_area_3}} | {{td_area_4}} |
{%- for sdg in sdgs %} [{{ enum_dict['SdgTarget'][sdg]['title'] }}](../model/SdgTarget) {% endfor -%}
| {{sustainability_impact}} |
{% endfor %}
