| Name | Indicator | URL | 
|------|-----------|-----|
{% for datasource in datasources -%}
| {{ datasource['description'] }}| {{ datasource['measures_indicator'] }} | [{{ datasource['data_link'] }}]({{ datasource['data_link'] }}) | 
{% endfor %}
