---
hide:
  - toc
---

# {{indicator['name']}}

{{ indicator['description'] }}

**Dimension**: {{ enum_dict['SustainabilityDimension'][indicator['dimension']] }}

**Category**: {{ indicator['has_category'] }}

**Unit of measurement**: {{ indicator['measurement_unit'] }}
